.column-1 {
    height: 50%;
    width: 45%;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    display: inline-block;
}
.column-2 {
    height: 50%;
    width: 45%;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    display: inline-block;
    vertical-align: top;
}
h1, h2 {
  font-family: Verdana;
}
header h1{
  background-color: #0276FD;
  color: #FFFFFF;
}